<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Mão Amiga</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">

</head>
<body>
    <nav>
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            <h1>Mão Amiga</h1>
        </div>
    </nav>

    <main class="form-container">
        <h2>Crie sua Conta</h2>

        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, msg in mensagens %}
                    <p class="flash {{ categoria }}">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" required>

            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Senha:</label>
            <input type="password" name="senha" required>

            <button type="submit">Cadastrar</button>
        </form>

        <p>Já tem conta? <a href="{{ url_for('login') }}">Faça login</a></p>
    </main>

    <footer>
        <p>© 2025 Mão Amiga 💙</p>
    </footer>
</body>
</html>
