<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='doacao.css') }}">
    <script>
        function atualizaPlaceholder() {
            const tipo = document.getElementById('tipo').value;
            const input = document.getElementById('quantidade');
            
            if(tipo === 'alimento') {
                input.placeholder = 'Digite a quantidade em kg';
            } else if(tipo === 'roupa' || tipo === 'brinquedo' || tipo === 'livro') {
                input.placeholder = 'Digite a quantidade de peças/unidades';
            } else {
                input.placeholder = 'Digite a quantidade';
            }
        }
    </script>
</head>

        <nav>
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Mão Amiga">
            <h1>Mão Amiga</h1>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Início</a></li>
            <li><a href="{{ url_for('instituicao') }}">Escolha da Instituição</a></li>
            <li><a href="{{ url_for('doacao') }}">Doação</a></li>
            <li><a href="{{ url_for('pontos') }}">Pontos</a></li>
            <li><a href="{{ url_for('historico') }}">Histórico</a></li>
            <li><a href="https://wa.me/5511999999999" target="_blank">Chat</a></li>
        </ul>
    </nav>
<body>
    <main>
        <h2>Doação</h2>
        <form class="form-doacao" action="{{ url_for('pontos') }}" method="get">
            <label for="tipo">Escolha o tipo de item:</label>
            <select name="tipo" id="tipo" required onchange="atualizaPlaceholder()">
                <option value="">Selecione</option>
                <option value="roupa">Roupa</option>
                <option value="alimento">Alimento</option>
                <option value="brinquedo">Brinquedo</option>
                <option value="livro">Livro</option>
            </select>

            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" min="1" placeholder="Digite a quantidade" required>

            <button type="submit">Finalizar Doação</button>
        </form>
    </main>
          <footer>
        <p>© 2025 <span>Mão Amiga</span> — Sempre perto de quem precisa 💙</p>
        <div class="icons">
             <a href="https://www.instagram.com/" target="_blank">
      <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
    </a>
    <a href="https://web.whatsapp.com/" target="_blank">
      <img src="{{ url_for('static', filename='images/whats.png') }}" alt="WhatsApp">
    </a>
        </div>
    </footer>
</body>
</html>
